                                      PROJET MACHINE LEARNING SUR UNE DATASET FINANCIERE

Pour ce projet nous allons:

*Dans la classification savoir si un client est éligible ou non pour un prêt bancaire 
*Dans le régression choisir une variable (colonne) comme son salaire pour savoir en combien de temps le client fiable pourra rembourser et ce basé sur son salaire par exemple

In [1]:
import pandas as pd
import numpy as np
from pandas import read_csv
import os
#os.getcwd()
# enregistrer le chemin du fichier dans la variable pour un accès plus facile
file_path = 'C:/Users/ngnat/Downloads/E4e_DISA/Machine_Learning/Financial_Datasets.zip'

# lire les données et stocker les données dans DataFrame intitulé melbourne_data
data = pd.read_csv(file_path)


# extracter les 1000 premières lignes
data.head(100)

,ID_Customer,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,38,12,48,95617,4,0.2,3,0,0,0,0,1,0
96,97,41,15,80,95014,1,5.2,1,0,0,0,0,0,0
97,98,54,28,161,92121,1,2.9,1,0,0,0,0,1,0
98,99,49,23,94,92374,1,0.3,1,0,0,0,0,1,0
99,100,66,41,15,91711,3,0.1,3,0,0,0,0,1,0

In [2]:
shape = data.shape
print(shape)
types = data.dtypes
print(types)

(5000, 14)
ID_Customer             int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

In [3]:
# Simuler des valeurs manquantes dans 5% des lignes de la colonne "Famille"
data_missing = data.copy()
np.random.seed(42)  # pour reproduire les mêmes "randoms"
missing_indices = data_missing.sample(frac=0.05).index
data_missing.loc[missing_indices, 'Famille'] = np.nan

# Vérifier les valeurs manquantes
print(data_missing.isnull().sum())

ID_Customer              0
Age                      0
Experience               0
Income                   0
ZIP Code                 0
Family                   0
CCAvg                    0
Education                0
Mortgage                 0
Personal Loan            0
Securities Account       0
CD Account               0
Online                   0
CreditCard               0
Famille               5000
dtype: int64

In [4]:
nbre_valeurmanquante=data.isnull().sum()
print(nbre_valeurmanquante)

ID_Customer           0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64